#halaman{
	position: absolute;
	border: 2px solid black;
	border-radius: 2px; 
	width: 180px; 
	height: 40px;
	top: 523px;
	left: 410px;
	font-size: 16px;
}

#salinan{
	position: absolute;
	border: 2px solid black;
	border-radius: 2px; 
	width: 180px; 
	height: 40px;
	top: 523px;
	left: 610px;
	font-size: 16px;
}

.pilihberat{
	position: absolute;
	border: 2px solid black;
	border-radius: 2px; 
	width: 380px; 
	height: 40px;
	top: 523px;
	left: 410px;
	font-size: 16px;
}

.pilihukurankertas{
	position: absolute;
	border: 2px solid black;
	border-radius: 2px; 
	width: 380px; 
	height: 40px;
	top: 573px;
	left: 410px;
	font-size: 16px;
}

.pilihwarna{
	position: absolute;
	border: 2px solid black;
	border-radius: 2px; 
	width: 380px; 
	height: 40px;
	top: 623px;
	left: 410px;
	font-size: 16px;
}

.pilihcover{
	position: absolute;
	border: 2px solid black;
	border-radius: 2px; 
	width: 380px; 
	height: 40px;
	top: 673px;
	left: 410px;
	font-size: 16px;
}

.bolak-balik{
	position: absolute;
	border: 2px solid black;
	border-radius: 2px; 
	width: 380px; 
	height: 40px;
	top: 723px;
	left: 410px;
	font-size: 16px;
}

.bthitung{
	position: absolute;
	top: 726px;
	border: 1px solid black;
	border-radius: 2px;
	color: black;
	width: 90px;
	height: 33px;
	left: 800px;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
}