@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body {
    background-color: #FFFFFF;
    color: #757575;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

p {
    font-size: 14px;
}

body a {
    color: #427fed;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type="button"], input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1 {
    font-size: 40px;
    margin: 50px auto;
    letter-spacing: 3px;
    font-weight: 300;
}

.container1 {
    width: 40%;
    margin: 0 auto;
    background-color: #f7f7f7;
    color: #757575;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    padding: 30px;
    border-radius: 3px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}

h3 {
    font-weight: 400;
    margin-bottom: 10px;
}

.containe1r p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}

.regisForm input[type="text"], .regisForm input[type="email"], .regisForm input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.regisForm input[type="email"]:focus, .regisForm input[type="password"]:focus, .regisForm input[type="text"]:focus {
    outline: none;
    border: 1px solid #4d90fe;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.regisForm textarea {
    height: 100px;
}

.regisForm ::-webkit-input-placeholder {
    color: #666;
}

.regisForm ::-moz-placeholder {
    color: #666;
}

.regisForm ::-moz-placeholder {
    color: #666;
}

.regisForm ::-ms-input-placeholder {
    color: #666;
}

.tbl-kirim {
    text-align: center;
    margin-top: 20px;
}

.tbl-kirim input[type="submit"] {
    padding: 10px 0;
    width: 60%;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    border: none;
    outline: none;
    color: #FFF;
    background-color: #2196F3;
    cursor: pointer;
    border-radius: 3px;
}

.tbl-kirim input[type="submit"]:hover {
    background-color: #1769aa;
}

a.logout{float: right;}
p.sukses{color:#34A853;}
p.error{color:#EA4335;}

/* Responsive */
@media screen and (max-width: 1920px) {
    h1 {
        margin: 75px auto;
    }
    .container {
        width: 25%;
    }
}

@media screen and (max-width: 1680px) {
    .container {
        width: 30%;
    }
}

@media screen and (max-width: 1600px) {
    h1 {
        margin: 50px auto;
    }
}

@media screen and (max-width: 1367px) {
    .container {
        width: 35%;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 45%;
    }
}

@media screen and (max-width: 966px) {
    h1 {
        letter-spacing: 2px;
    }
}

@media screen and (max-width: 853px) {
    .container {
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    .container {
        width: 55%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 60%;
    }
}

@media screen and (max-width: 736px) {
    h1 {
        letter-spacing: 0;
    }
}

@media screen and (max-width: 667px) {
    .container {
        width: 65%;
    }
}

@media screen and (max-width: 603px) {
    h1 {
        font-size: 35px;
    }
    .container {
        width: 70%;
    }
}

@media screen and (max-width: 568px) {
    .container {
        width: 75%;
    }
    h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 533px) {
    h1 {
        font-size: 30px;
    }
    .container {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        margin: 40px 0;
    }
    .container {
        width: 85%;
        padding: 20px;
    }
    h2 {
        font-size: 25px;
    }
    .regisForm input[type="text"], .regisForm input[type="email"], .regisForm input[type="password"] {
        width: 93%;
    }
}

@media screen and (max-width: 414px) {
    h1 {
        margin: 30px 0;
    }
    .social-icons ul li span.icons {
        width: 30px;
        height: 30px;
    }
    .regisForm label {
        font-size: 13px;
    }
    .regisForm input[type="text"], .regisForm input[type="email"], .regisForm input[type="password"] {
        width: 91.5%;
        font-size: 12px;
        margin: 5px 0 15px;
    }
}

@media screen and (max-width: 384px) {
    h1 {
        font-size: 25px;
        line-height: 35px;
    }
    .container {
        width: 90%;
        padding: 20px 10px;
    }
    .container p {
        font-size: 16px;
        margin-bottom: 15px;
        line-height: 22px;
    }
    h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 360px) {
    .tbl-kirim input[type="submit"] {
        width: 75%;
        font-size: 16px;
    }

.detil{
    position: absolute;
    width: 560px;
    height: 130px;
    margin-left: 250px;
    font-size: 60px;
    color: #EBC64E;
    font-weight: bold;
    left: 130px;
}
    }
.detil_logout{
    position: absolute;
    width: 560px;
    height: 130px;
    margin-left: 250px;
    font-size: 20px;
    color: #EBC64E;
    font-weight: bold;
    left: 130px;
    top: 460px;
}
}